<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .no-space{
            white-space: 0;
            margin: 0;
            padding: 0;
        }
        .bold{
            font-weight: 700;
        }
        .table{
            border-collapse: collapse;
            width: 100%;
        }
        .text-underlined{
            text-decoration: underline;
        }
        .text-center{
            text-align: center;
        }
        table th,
        table td {
          border: solid 3px;
          padding: 8px;
        }
        .one-space{
            white-space: 0;
            margin: 0;
            padding: 5px;
        }
    </style>
</head>
<body>
    <table class="table">
        <tr>
            <td colspan="2">
                <H3 class="no-space">
                    PENGADILAN TATA USAHA NEGARA YOGYAKARTA
                </H3>
                <p class="no-space bold">Jalan : Janti No.66 Banguntapan, Bantul</p>
                <p class="no-space bold">Telp. : 0274-520502 Fax : 0274581675</p>

            </td>
        </tr>
        <tr>
            <td colspan="2">
                <h2 class="text-underlined text-center no-space">
                    LEMBAR DISPOSISI
                </h2>
            </td>
        </tr>
        <tr>
            <td width="50%">
                Index :
            </td>
            <td>
                <div style="display: flex;">
                    <p class="no-space" style="width: 60px;">Rahasia </p> <p class="no-space" style="float: left;">:</p>
                </div>
                <div style="display: flex;">
                    <p class="no-space" style="width: 60px;">Penting </p> <p class="no-space" style="float: left;">:</p>
                </div>
                <div style="display: flex;">
                    <p class="no-space" style="width: 60px;">Biasa </p> <p class="no-space" style="float: left;">:</p>
                </div>
            </td>
        </tr>
        <tr>
            <td width="50%">
                Kode :
            </td>
            <td>
                <p>Tanggal Penyelesaian </p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div style="display: flex;">
                    <p class="one-space" style="width: 150px;">Tanggal Nomor</p> <p class="one-space" style="float: left;">: </p>
                </div>
                <div style="display: flex;">
                    <p class="one-space" style="width: 150px;">Asal Surat</p><p class="one-space" style="float: left;">: </p>
                </div>
                <div style="display: flex;">
                    <p class="one-space" style="width: 150px;">Isi Ringkas</p><p class="one-space" style="float: left;">: </p>
                </div>
                <div style="display: flex;">
                    <p class="one-space" style="width: 150px;">No/Tgl Agenda </p><p class="one-space" style="float: left;">: </p>
                </div>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <h4 class="no-space">INSTRUKSI INFORMASI :</h4>
            </td>
            <td>
                <h4 class="no-space">DITERUSKAN KEPADA :</h4>
                <p class="no-space">1. Ketua</p>
                <p class="no-space">2. Wakil Ketua</p>
                <p class="no-space">3. Panitera</p>
                <p class="no-space">4. Sekretaris</p>
                <p class="no-space">5. Pan. Mud. Hukum</p>
                <p class="no-space">6. Pan. Mud.Perkara</p>
                <p class="no-space">7. Sub. Bagian Perencanaan, Teknologi Informasi dan Pelaporan</p>
                <p class="no-space">8. Sub. Bagian Kepegawaian, Organisasi dan Tata Laksana</p>
                <p class="no-space">9. Sub. Bagian Umum dan Keuangan</p>
            </td>
        </tr>
        <tr>
            <td valign="top" colspan="2" height="100px">
                <h4 class="no-space">DISPOSISI PANITERA :</h4>
            </td>
        </tr>
        <tr>
            <td valign="top" colspan="2" height="100px" style="border-bottom-style: dashed;">
                <h4 class="no-space">DISPOSISI SEKRETARIS :</h4>
            </td>
        </tr>
        <tr>
            <td valign="top" colspan="2" height="100px" style="border-top-style: dashed;">
                <div style="display: flex;">
                    <h4 class="no-space" style="width: 170px;">DISPOSISI PANMUD </h4> <h4 class="no-space" style="float: left;">: </h4>
                </div>
                <br>
                <div style="display: flex;">
                    <h4 class="no-space" style="width: 170px;">DISPOSISI KASUBAG </h4> <h4 class="no-space" style="float: left;">: </h4>
                </div>
            </td>
        </tr>
    </table>
</body>
</html>
